.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blockItem {
    width: 150px;
    height: 200px;
    border: 1px solid #000;
    margin: 10px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &__button_buy {
        margin: 10px auto;
        width: 120px;
        height: 30px;
        opacity: 0;
        transition: 0.5s;
    }
}

.blockItem:hover .blockItem__button_buy {
    opacity: 1;
    transition: 0.5s;
}