.header {
  width: 100%;
  height: 100px;
  background-color: #ccc;
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blockItem {
  width: 150px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #000;
  margin: 10px;
  text-align: center;
  padding: 10px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.blockItem__button_buy {
  margin: 10px auto;
  width: 120px;
  height: 30px;
  background-color: red;
  color: #fff;
  font-size: 16px;
  border: none;
  outline: none;
  -webkit-box-shadow: 3px 3px 5px #fa9191;
          box-shadow: 3px 3px 5px #fa9191;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blockItem__name {
  color: #fff;
  font-weight: 700;
  text-shadow: 3px 3px 5px #000;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blockItem__price {
  color: #fff;
  font-weight: 700;
  text-shadow: 3px 3px 5px #000;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blockItem:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blockItem:hover .blockItem__button_buy {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blockItem:hover .blockItem__name {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blockItem:hover .blockItem__price {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.blockItem__button_buy:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal {
  width: 100%;
}

.modal__shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.5;
  position: fixed;
  z-index: 10;
}

.modal_window {
  position: relative;
  z-index: 11;
  width: 300px;
  background-color: #fff;
  margin: 100px auto;
}

.modal_window h3 {
  display: block;
  text-align: center;
  padding: 20px;
}

.modal_window p {
  padding: 0 20px;
}

.btn-block {
  width: 100%;
  text-align: center;
}

.btn-close,
.btn-pay {
  width: 70px;
  height: 30px;
  margin: 20px;
  border-radius: 15px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-close {
  background-color: #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-close:hover {
  -webkit-box-shadow: 3px 3px 5px #000;
          box-shadow: 3px 3px 5px #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-pay {
  background-color: red;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-pay:hover {
  -webkit-box-shadow: 3px 3px 5px #000;
          box-shadow: 3px 3px 5px #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
